@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --h1: #172b4d;
  --paragraph: #344563;
  --socials: #505f79;
  --connect: #7f8cff;
  --navbar: #6070ff;
  --white: white;
  --logo: #6070ff;
  --background: #f7f7f9;
  --span: #7a869a;
  --dot: #c1c7d0;
  --border: #dfe1e6;
  --language: #ebebff;
  --black: #000;
  --list: #253858;
  --arrow: #acb7c3;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  max-width: 375px;
  margin: auto;
  background-color: var(--background);
}

header {
  position: fixed;
  top: 0;
  width: 375px;
  padding: 10px;
  background-color: var(--white);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-section {
  display: flex;
  flex-direction: column;
  background-image: url(images/background.svg);
  background-repeat: no-repeat;
  background-color: var(--white);
  margin-top: 67px;
  border-bottom-left-radius: 80px;
}

.logo-text a {
  font-size: 18px;
  font-weight: 700;
  color: var(--logo);
}

.primary-text {
  width: 327px;
  margin-left: 24px;
}

.primary-text h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--h1);
  margin-top: 90px;
  margin-bottom: 12px;
}

.primary-text p {
  font-size: 16px;
  font-weight: 400;
  color: var(--paragraph);
  text-align: justify;
  margin-bottom: 12px;
}

.primary-text-change {
  margin-top: 114px;
}

.primary-margin-change {
  text-align: left;
}

.social-media {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-bottom: 110px;
}

.socials,
.languages {
  display: flex;
  list-style: none;
}

.socials li {
  margin-right: 19px;
}

.languages li {
  margin-right: 8px;
  margin-top: 16px;
  margin-bottom: 36px;
  background-color: var(--language);
  border-radius: 8px;
  padding: 4px 12px;
  font-size: 12px;
  font-weight: 500;
  color: var(--logo);
}

.connect {
  color: var(--connect);
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 500;
}

.works-section {
  display: grid;
  grid-template-columns: 327px;
  margin-left: 24px;
  margin-top: 120px;
}

.work-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);
  border-radius: 16px;
  background-color: var(--white);
  margin-bottom: 88px;
}

.work-image {
  width: 295px;
  height: 220px;
  margin: 16px 16px 12px;
}

.work-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-left: 16px;
}

.work-details h2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--h1);
}

.work-subtext {
  font-size: 13px;
  font-weight: 600;
  color: var(--paragraph);
}

.work-subtext .description {
  font-size: 13px;
  font-weight: 600;
  color: var(--span);
  margin-left: 12px;
}

.work-subtext .dot {
  height: 10px;
  width: 10px;
  background-color: var(--dot);
  border-radius: 50%;
  display: inline-flex;
  margin-left: 12px;
}

.work-description {
  font-size: 15px;
  font-weight: 400;
  color: var(--paragraph);
  width: 295px;
  margin-top: 20px;
}

.resume-btn {
  margin-left: 24px;
  margin-bottom: 60px;
}

.project-btn,
.resume-btn
{
  display: flex;
  justify-content: flex-start;
  color: var(--logo);
  margin-right: 150px;
  border: 1px solid var(--logo);
  border-radius: 8px;
  padding: 10px;
  padding-left: 30px;
  font-size: 17px;
  font-weight: 500;
}

.project-btn:enabled,
.resume-btn:enabled
{
  font-size: 17px;
  font-weight: 500;
  color: var(--logo);
  border: 1px solid var(--logo);
  background-color: transparent;
  border-radius: 8px;
  padding: 10px;
}

.project-btn:hover,
.resume-btn:hover
{
  color: var(--white);
  border-color: var(--connect);
  background-color: var(--connect);
}

.project-btn:active,
.resume-btn:active
{
  color: var(--white);
  background-color: var(--logo);
  border-color: var(--logo);
}

.contact-section {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  margin-top: 114px;
  border-top-right-radius: 80px;
}

.reset-margin {
  margin-bottom: 34px;
}

.experience {
  margin: 0 24px;
}

.outer-list,
.inner-list
{
  display: flex;
  flex-direction: column;
  list-style: none;
}

.outer-list > li {
  font-size: 20px;
  font-weight: 500;
  color: var(--black);
  padding: 18px;
  border-bottom: 1px solid var(--border);
}

.inner-list li {
  background: var(--background);
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.outer-list > li:first-child {
  border-bottom: none;
}

.outer-list > li:last-child {
  margin-bottom: 40px;
}

.inner-list {
  font-size: 15px;
  font-weight: 500;
  color: var(--list);
}

.inner-list li:first-child {
  margin-top: 36px;
}

.inner-list li span {
  margin-left: 16px;
}

.arrow {
  border: solid var(--black);
  border-width: 0 2px 2px 0;
  display: inline-flex;
  padding: 5px;
  margin-left: 100px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media only screen and (min-width: 375px) {
  body {
    width: 1600px;
    margin: auto;
  }
}
